
* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.8s linear;

}

*::selection {
    background-color: #EBC7E8;
    color: white;
}

html {
    font-size: 20px;
    overflow-x: hidden;
    scroll-padding-top: 6px;
    scroll-behavior: smooth;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #A084CA;
    z-index: 1000;
    display: flex;
    align-items:center;
    padding: 18px;
    justify-content:space-between;
}

header .logo {
    font-size: 23px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;

}

header .logo span {
    color: #EBC7E8;
}

header .navbar a {
    color: white;
    margin: 10px;

}

header .navbar a:hover {
    color: blueviolet;
}

header .search-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    border-top: 2px solid white;
    background-color: #A084CA;
    display: flex;
    align-items: center;
    z-index: 1001;

}

header .search-bar #search-bar {
    width: 100%;
    padding: 10px;
    text-transform: none;
    color: gray;
    border-radius: 5px;
}

/*login form*/

.login {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    background: rgba(133, 125, 125, 0.422);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form {
    margin: 20px;
    padding: 5px;
    border-radius: 2px;
    background: whitesmoke;
    width: 500px;

}

.login form h3 {
    color: #A084CA;
    text-transform: uppercase;
    text-align: center;
    padding: 5%;

}

.login form .box {
    width: 450px;
    padding: 5%;
    color: gray;
    text-transform: none;
    border: 2px solid #BFACE0;
    margin: 5%;
}

.login form .box:focus {
    border-color: blueviolet;
}

.remember {
    margin: 2%;
    font-size: 15px;
    font-weight: bold;
}

.button {
    display: inline-block;
    margin-top: 5px;
    background: #A084CA;
    color: white;
    padding: 5px;
    border: 2px solid #BFACE0;
    cursor: pointer;
}

.button:hover {
    background-color: #BFACE0;
    color: black;
}

.login form .button {
    display: block;
    width: 60%;
    margin-left: 100px;
}

.login form p {
    padding: 5%;
    color: gray;
    font-size: 15px;
}

.login a {

    color: #A084CA;
    font-size: 15px;

}

.login a:hover {
    color: blueviolet;
    text-decoration: underline;
    font-size: 15px;

}

@media (max-width:1200px) {
    html {
        font-size: 15px;
    }
}
