@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Raleway:wght@200&display=swap');

*{
    font-family:'Nunito', 'Raleway', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

/*menu bar style*/
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1;
    background: rgb(252, 250, 250);
    padding: 15px;
    box-shadow: -4px 4px 2px #D6CCC2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-weight: bold;
    font-size: 25px;
    color:#D6CCC2;
}

header .logo span{
    color:#A5A58D;
}

header .navbar a{
    color: #D6CCC2;
    padding: 5px;
}

header .navbar a:hover{
    color:#689430;
    text-decoration: underline;
}

header .icons #menu-bar,
header .icons{
    border-radius: 5px;
    margin-right: 5px;
    background: #F5EBE0;
}

header .icons #menu-bar:hover,
header .icons a:hover{
    background: #D6CCC2;
}

header .icons #menu-bar{
    display: none;
} 

/*----------------------------*/

/*body part*/
body{
    background: white;
    min-height: 100vh;
    background: url(BICUBIK_1183.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    text-decoration: underline;
    font-size: 60px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

.btn_h1{
    width: 200px;
    margin-top: 100px;
    cursor: pointer;
    font-size: 18px;
}

.btn_h1:hover{
    color: white;
    background-color: #6B705C;
}

/*Home section style*/
section{
    padding: 20px;
}

.home{
    min-height: 100vh;
    background: url(BICUBIK_1183.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home form{
    margin: 5px;
    background: rgba(255, 255, 255, 0.659);
    border: 2px solid #A5A58D;
    box-shadow: -1px 1px 2px #d6ccc2;
    border-radius: 3px;
    width: 500px;
    padding: 10px;

}

.home form h3{
    text-align: center;
    color: #6B705C;
}

.home form .button-container{
    display: flex;
    gap: 20px;
}

.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 8px;
    border-radius: 3px;
    color: #F5EBE0;
    background: #A5A58D;
    cursor: pointer;
}

.btn:hover{
    background: #6B705C;
    color: white;
}

.home form .button-container .btn{
    flex:1;
    text-align: center;
}

.home form .inputBox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.home form .inputBox input,
.home form .inputBox select{
    flex: 10px;
    border: 2px solid #A5A58D; 
    box-shadow: -4px 4px 6px #D6CCC2;
    padding: 10px;
    text-transform: none;
}

.home form .btn{
    width: 100%;
    margin-top: 10px;
}

/*----------------------------*/

/*media quairy part*/

@media (max-width:991px){
    html{
    font-size: 15px;

    }

    header{
        padding: 10px;
    }

    section{
        padding: 5px;
    }
}

@media (max-width:768px){
    header .icons #menu-bar{
        display: inline-block;
    } 

    header .navbar{
        position: absolute;
        left:0; right: 0; top:100%;
        background: white;
        border-top: 2px solid gray ;
        border-bottom:2px solid gray  ;
        transition: 2px linear;
    }

    header .navbar a{
        display: block;
        padding: 5px;
        margin: 5px;
        background: white;
        border: 2px solid gray;
        box-shadow: -4px 4px 6px #D6CCC2;
        text-align: center;
        border-radius: 3px;
    }
}

@media (max-width:450px){
    html{
    font-size: 12px;
    }
}




/*----------------------------*/

/*contact part*/.contact .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    padding-bottom: 5px;
}

.contact .icons-container .icons{
    flex:1 1 20rem;
    background: #fff;
    padding:10px;
    border:.1px solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: 0 .5px 1px rgba(0,0,0,.1);
    text-align: center;
}

.contact .icons-container .icons img{
    height:2cm;
}

.contact .icons-container .icons h3{
    font-size: 20px;
    color:#333;
    padding: 2rem;
}

.contact .icons-container .icons p{
    font-size: 30px;
    color:#666;
    padding:.1rem 0;
}


.contact .row{
    background: #fff;
    border: 0.1cm solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap-reverse;
    padding:1rem;
}

.contact .row form{
    flex:1 1 40px;
    padding:.5rem 1rem;
}

.contact .row .map{
    flex:1 1 20px;
    width:100%;
    padding:1rem;
}

.contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form textarea,
.contact .row form .inputBox input{
    margin-top: 2rem;
    padding:1rem;
    font-size: 1.7px;
    color:#333;
    background: #f7f7f7;
    border-radius: .5rem;
    text-transform: none;
    width:60%;
}

.contact .row form textarea{
    width: 90%;
    height:8rem;
    resize: none;
}

.contact .row form textarea:focus,
.contact .row form .inputBox input:focus{
    background-color: var(--light-red);
}

/*----------------------------*/
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.services .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.2);
    text-align: center;
    padding:2rem;
}

.services .box-container .box h3{
    font-size: 2.5rem;
    color:#333;
}

.services .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:.5rem 0;
    line-height: 2;
}

/*----------------------------*/

.featured .box-container .box {
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    overflow: hidden;
    background: #fff;
    flex: 1 1 30rem;
}

.featured .box-container .box .image-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 25rem;
}

.featured .box-container .box .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.featured .box-container .box:hover .image-container img {
    transform: scale(1.1);
}

.featured .box-container .box .image-container .info {
    position: absolute;
    top: 1rem;
    left: 0;
    display: flex;
}

.featured .box-container .box .image-container .info h3 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    margin-left: 1rem;
}

.featured .box-container .box .image-container .icons {
    position: absolute;
    bottom: 1rem;
    right: 0;
    display: flex;
}

.featured .box-container .box .image-container .icons a {
    font-size: 1.4rem;
    color: #fff;
    display: flex;
    border-radius: .5rem;
    background: rgba(0, 0, 0, .3);
    margin-right: 1rem;
    padding: .7rem;
}

.featured .box-container .box .image-container .icons a h3 {
    font-weight: 500;
    padding-left: .5rem;
}

.featured .box-container .box .image-container .icons a:hover {
    background: var(--red);
}

.featured .box-container .box .content {
    padding: 1.5rem;
}

.featured .box-container .box .content .price {
    display: flex;
    align-items: center;
}

.featured .box-container .box .content .price h3 {
    color: var(--red);
    font-size: 2rem;
    margin-right: auto;
}

.featured .box-container .box .content .price a {
    color: #666;
    font-size: 1.5rem;
    margin-right: .5rem;
    border-radius: .5rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #f7f7f7;
}

.featured .box-container .box .content .price a:hover {
    background: var(--red);
    color: #fff;
}

.featured .box-container .box .content .location {
    padding: 1rem 0;
}

.featured .box-container .box .content .location h3 {
    font-size: 2.5rem;
    color: #333;
}

.featured .box-container .box .content .location p {
    font-size: 1.5rem;
    color: #666;
    line-height: 1.5;
    padding-top: .5rem;
}

.featured .box-container .box .content .details {
    padding: .5rem 0;
    display: flex;
}

.featured .box-container .box .content .details h3 {
    flex: 1;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    color: #999;
    font-size: 1.3rem;
}

.featured .box-container .box .content .details h3 i {
    color: #333;
    padding-left: .5rem;
}

.featured .box-container .box .content .buttons {
    display: flex;
    gap: 1rem;
}

.featured .box-container .box .content .buttons .btn {
    flex: 1;
    font-size: 1.5rem;
}


.heading {
    color: #FD8457;
    background-color: rgb(250, 238, 233);
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: .2rem 1.5rem;
    width: 50px;
    font-weight: bold;
}

h1 {
    font-weight: bold;
    color:black;
}





/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 1.5rem 1rem;
    }

    section {
        padding: 1.5rem;
    }

}

@media (max-width:768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #f7f7f7;
        border-top: .1rem solid #333;
        border-bottom: .1rem solid #333;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1.5rem;
        background: #fff;
        border: .1rem solid #333;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        border-radius: .5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .contact .row form .inputBox input {
        width: 100%;
    }

}

